main {
  display: flex;
  justify-content: center;
  background-color: burlywood;
  width: 40%;
}
li {
  list-style-type: none;
}

ul li:hover {
  background: #ddd;
}
.todolist {
  display: block;
  margin: 0 auto;
  width: 30%;
  background-color: #feff99;
  margin-top: 200px;
  box-shadow: 0px 0px 12px -3px #000000;
  padding: 30px;
}
body {
  background-image: url(db981562570f8b2179bf48fcbbf13c9b.jpeg);
}
h1 {
  text-align: center;
  font-family: "Nerko One", cursive;
  font-size: 60px;
  color: #9a99ff;
}
label {
  color: #363558;
}
.controls {
  margin: 30px;
}
.add-btn {
  background-color: #9a99ff;
  color: #feff99;
  padding: 2px;
  border: none;
  border-radius: 1px;
}
#user-input {
  color: #363558;
  border: 0.5px solid #9a99ff;
  background-color: #9a99ff;
  opacity: 0.3;
}
